<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}DillonWeb{% endblock %}</title>
</head>
<body>
    <header>
        <h1>DillonWeb</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li>Hello, {{ user.username }}</li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

